.container {
  display: flex;
  flex-direction: column;
  width: 100%; }

.tabs {
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  background-color: #ffffff;
  /* #ifdef MP-ALIPAY || MP-BAIDU */
  height: 100vh;
  /* #endif */ }

.swiper-box {
  flex: 1; }

.bghead {
  position: absolute;
  left: 0;
  top: 0;
  height: 300rpx;
  width: 100%;
  background-color: #66ccff;
  z-index: -1; }

.top {
  flex-direction: column; }
  .top .top-title {
    height: 80rpx; }
  .top .top-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around; }
    .top .top-content .top-box {
      border: 1px solid #66ccff;
      width: 700rpx;
      height: 240rpx;
      background-color: #fafeff;
      border-radius: 15rpx;
      display: flex;
      justify-content: space-around; }
      .top .top-content .top-box .total-mark {
        margin-top: 25rpx; }
      .top .top-content .top-box .total-mark-label {
        text-align: center;
        line-height: 40rpx;
        font-size: 25rpx;
        color: #212121; }

.scroll-view_H {
  white-space: nowrap;
  width: 100%; }

.scroll-view-item_H {
  display: inline-block;
  width: 20%;
  height: 100rpx;
  line-height: 100rpx;
  text-align: center;
  font-size: 36rpx; }

.tab-under-line {
  position: absolute;
  bottom: 0;
  left: 0%;
  border-bottom: 5rpx solid #007AFF;
  width: 19%; }
